<div class="jumbotron">
  <div class="container">
    <div class="jumbotron top-3-movies" style="background-color: lightblue">
      <div class="row">
        <% @top.each do |movie| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <h3 class="top-movie-title"><%= movie.title %></h3>
              <img src=<%= movie.movie_poster_url %> alt="Poster not found...">
              <div class="caption">
                <p><%= movie.synopsis %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="jumbotron genres" style="background-color: lightblue">
      <div class="row">
        <% @genres.each do |genre| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail gif-display">
              <div class="gif">
                <iframe src=<%= get_gif(genre).to_s %>></iframe>
              </div>
              <h3 class="genres"><%= genre %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
