<div class="jumbotron">

  <div class="container">
    <h1><%= @movie.title %></h1>
    <%= image_tag("#{@movie.movie_poster_url}") %>
    <h3>Synopsis</h3>
    <p><%= @movie.synopsis %></p>
  </div>

  <div class="container">
    <h3>Cast</h3>
    <% @movie.actors.each do |actor| %>
    <p> <%= link_to(actor.name, "/actors/#{actor.id}") %> </p>
    <% end %>
  </div>

</div>

<div class="jumbotron">

  <div class="container rating-and-review">
    <div class="new-rating-form">
      <p>Add a new review</p>
      <%= render partial: "/partials/five_star_rating", locals: {rating: @movie.avg_rating, size: "50"} %>
      <%= form_for :review, url: '/reviews' do |f| %>
      <% 5.times do %>
        <%= f.check_box(:rating) %>
      <% end %>
      <%= f.text_field :title, placeholder: "Review title..." %>
      <%= f.text_area :content, placeholder: "Enter your review here", cols: "50", rows: "5" %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>

</div>

<div class="jumbotron">

  <div class="container reviews">
    <% @movie.reviews.each do |review| %>
    <div class="review-card">
      <h4><%= review.title %>
      <%= render partial: "/partials/five_star_rating", locals: { rating: review.rating, size: "20"} %>
      </h4>
      <p><%= review.content %></p>
    </div>
    <% end %>
  </div>

</div>
