<div class="jumbotron reviewable-info">
  <div class="container">
    <div id="reviewable-image" class="col-md-4">
      <%= image_tag(@review.reviewable_image_url) %>
    </div>
    <div id="reviewable-details" class="col-md-8">
      <%= @review.reviewable_main_text %>
    </div>
  </div>
</div>

<div class="jumbotron reviewer-info">
  <div class="container">
    <h1><%= @reviewer.username %></h1>
  </div>
</div>


<div class="jumbotron review-text">
  <div class="container">
    <%= @review.content %>
  </div>
</div>


<div class="jumbotron top-comments">
  <div class="container">
    <% @top_comments.each do |top_comment| %>
      <div class="comment">
        <%= top_comment.commenter.username %>
        <br>
        <%= top_comment.content %>
      </div>
    <% end %>
  </div>
</div>
